# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.eggs/

# Environment
.env
.env.*
!.env.example
env (1).example
./env (1).example

# Testing
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# IDE
.vscode/
.idea/
*.swp
*.swo

# ML models
*.pkl
*.joblib

# Alembic
alembic/versions/*.py
!alembic/versions/.gitkeep

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid


rydesinc-firebase-adminsdk-fbsvc-479d4b8234.json
./rydesinc-firebase-adminsdk-fbsvc-479d4b8234.json